@using Application.Common.Contracts.Services;
@using Application.Models.User;

@model IEnumerable<UserDto>
@inject IFullNameFormatService fullnameFormatService

@{
    var locale = ViewData["Locale"]?.ToString() ?? string.Empty;
}


@foreach(var user in Model) {
    <tr>
        <td>@user.Number</td>
        <td class="m-hidden">@user.Id</td>
        <td>@fullnameFormatService.GetFullNameFormatted(user.FirstName, user.MiddleName, user.LastName, locale)</td>
        <td>@user.Address</td>
        <td>@user.Phone</td>
    </tr>
}
